<section class="h-screen">
  <div class="container px-6 py-12 h-full">
    <div
      class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
    >
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
        <h1
          class="text-3xl font-bold leading-tight tracking-tight text-center text-black md:text-3xl dark:text-white mb-5"
        >
          註 冊
        </h1>
        <img
          src="/assets/sign_up_background_img.jpg"
          class="w-full rounded-lg shadow-2xl"
          alt="image"
        />
      </div>
      <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
        <form
          class="new_user"
          id="new_user"
          action="/users"
          accept-charset="UTF-8"
          method="post"
        >
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>"
          />
          <div class="mb-3">
            <label
              for="user_name"
              autofocus="autofocus"
              class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
              >暱稱</label
            >
            <input
              autofocus="autofocus"
              type="text"
              name="user[name]"
              id="user_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>

          <div class="mb-3">
            <label
              for="user_email"
              class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
              >信箱</label
            >
            <input
              autocomplete="email"
              type="email"
              value=""
              name="user[email]"
              id="user_email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@example.com"
              required=""
            />
          </div>
          <div class="mb-3">
            <label
              for="user_password"
              class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
              >密碼</label
            >
            <input
              autocomplete="current-password"
              type="password"
              name="user[password]"
              id="user_password"
              placeholder="密碼需要至少6個字元"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <div class="mb-3">
            <label
              for="user_password_confirmation"
              class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
              >再次輸入密碼</label
            >
            <input
              autocomplete="new-password"
              type="password"
              name="user[password_confirmation]"
              id="user_password_confirmation"
              placeholder="密碼需要至少6個字元"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <div class="mb-5">
            <input type="radio" name="user[role]" value="user" required="" />
            <label for="user_role" class="mr-5">註冊會員</label>
            <input type="radio" name="user[role]" value="vendor" required="" />
            <label for="user_role">註冊店舖</label>
          </div>

          <button
            type="submit"
            class="inline-block px-7 py-3 bg-theme_blue text-white font-medium text-base leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
          >
            註冊
          </button>
          <div class="mt-3">
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              已經有帳號了嗎?
              <a
                href=" /sign_in_session"
                class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                >登入</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
