<h1 class="pt-20">商店總覽</h1>

<a href=store_products_path>
<div class="max-w-sm rounded overflow-hidden shadow-lg">
<%@store.each do |store| %>
    <%if store.avatar.attached?%>
        <img src="<%=(url_for(store.avatar))%>">
    <%end%>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">
    <%=store.title%>
    </div>

    <p class="text-gray-700 text-base">
       &nbsp; &nbsp;<%=store.description%>
    </p>
  </div>
  <% end %>
  </a>
</div>