<h1 class="pt-20">訂單確認頁面</h1>

<table>
  <tr>
    <td></td>
    <td>訂單編號</td>
    <td>商品項目</td>
    <td>購買數量</td>
    <td>銷售金額</td>
  </tr>

  <tr>
    <% @paid_orders.each do |paid_order| %>
      <td>
        <%= paid_order.serial %>
      </td>
      <td>
        <%= paid_order.price %>
      </td>
      <td>
        <%= paid_order.sold_quantity %>
      </td>
      <% end %>
  </tr>
</table>