<section class="flex flex-wrap items-center justify-center h-screen gap-16 ">
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="/assets/user_login_port.jpg"
      alt="user_login_port_image"
    />

    <div class="p-5 shadow-2xl">
      <h5
        class="mb-5 text-2xl font-bold tracking-tight text-center text-gray-900 dark:text-white"
      >
        會 員 登 入
      </h5>
      <div class="flex justify-center">
        <a
          href="/users/sign_in"
          class="inline-flex items-center px-5 py-3 text-sm font-medium text-white bg-theme_blue rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          前往登入
        </a>
      </div>
    </div>
  </div>

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="/assets/vendor_login_port.jpg"
      alt="vendor_login_port_image"
    />

    <div class="p-5 shadow-2xl">
      <h5
        class="mb-5 text-2xl font-bold tracking-tight text-center text-gray-900 dark:text-white"
      >
        店 舖 登 入
      </h5>
      <div class="flex justify-center">
        <a
          href="/users/sign_in"
          class="inline-flex items-center px-5 py-3 text-sm font-medium text-center text-white bg-theme_blue rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          前往登入
        </a>
      </div>
    </div>
  </div>
</section>
