/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .text-align{
    padding:1em;
    text-align:justify;
  }
  @media screen and (min-width: 768px) {
    .md-bg-gradient-450{
        height:450px;
        background:linear-gradient(115deg, #f8eece 50%,transparent 50%),url(images/description_img.png) right / auto 120% ; 
    }
  }
  @media screen and (max-width: 768px) {
    .bg-gradient-450{
        height:450px;
        background-image:url(images/description_img.png);
    }
  }
  .slide-box{
    width:98%;
    margin: auto;
    height: 280px;
    overflow: hidden;
    position: relative;
  }
  .slide-box .group{ 
    position: absolute;
    top: 0;
    left: 25px;
  }
  .group li{
    width: 250px;
    height: 250px;
    float: left;
    list-style: none;
  }