/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .text-align{
    padding:1em;
    text-align:justify;
  }
  @media screen and (min-width: 768px) {
    .md-bg-gradient-450{
        height:450px;
        background:linear-gradient(115deg, #f8eece 50%,transparent 50%),url(images/description_img.png) right / auto 120% ; 
    }
  }
  @media screen and (max-width: 768px) {
    .bg-gradient-450{
        height:450px;
        background-image:url(images/description_img.png);
    }
  }

  .min-h-52{
    min-height: 208px;
  }
  .slide-box{
    width:98%;
    margin: auto;
    height: 280px;
    overflow: hidden;
    position: relative;
  }
  .slide-box .group{ 
    position: absolute;
    top: 0;
    left: 25px;
  }
  .group li{
    width: 250px;
    height: 250px;
    float: left;
    list-style: none;
  }

  .new-btn, .creat-btn, .show-btn, .edit-btn{
    display: inline-block;
    color:#f2f2f2;
    text-align: center;
    text-decoration:none;
    font-size: 20px;
    font-weight: 900;
    padding: 2px 6px;
    margin: 5px 7px;
    background: #2a6992;
    border: 3px solid #0a3959;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(0,0,0,.5);
    transition: all .6s;
    max-height: 40px;
  }
  .destroy-btn{
    display: inline-block;
    color:#f2f2f2;
    text-align: center;
    text-decoration:none;
    font-size: 20px;
    font-weight: 900;
    padding: 2px 6px;
    margin: 5px 7px;
    background: #cc0f16;
    border: 3px solid #9b070b;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(0,0,0,.5);
    transition: all .6s;
    max-height: 40px;
  }
  .new-btn:hover, .creat-btn:hover, .show-btn:hover, .edit-btn:hover{
    color:#fff;
    background:#0a3959;
    border: 3px solid #000;
    box-shadow: 2px 2px 1px rgb(0,0,0,.5);
  }
  .destroy-btn:hover{
    color:#fff;
    background:#a10e01;
    border: 3px solid #5c0800;
    box-shadow: 2px 2px 1px rgb(0,0,0,.5);
  }