/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .text-align{
    padding:1em;
    text-align:justify;
  }
  .theme-button{
    display: inline-block;
    color:#f2f2f2;
    text-align: center;
    text-decoration:none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 900;
    padding: 6px 20px;
    margin: 5px 7px;
    background: rgb(74,67,124);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    transition: all .6s;
    max-height: 40px;
  }
  .success-button{
    display: inline-block;
    color:#f2f2f2;
    text-align: center;
    text-decoration:none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 900;
    padding: 6px 20px;
    margin: 5px 7px;
    background: #33623e;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    transition: all .6s;
    max-height: 40px;
  }
  .google-button{
    display: inline-block;
    color:#f2f2f2;
    text-align: center;
    text-decoration:none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 900;
    padding: 6px 20px;
    margin: 5px 7px;
    border:0.5px solid rgb(194, 192, 192);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    transition: all .6s;
    max-height: 40px;
  }
  .destroy-btn{
    display: inline-block;
    color:#f2f2f2;
    text-align: center;
    text-decoration:none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 900;
    padding: 6px 20px;
    margin: 5px 7px;
    background: #CC5F5A;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    transition: all .6s;
    max-height: 40px;
  }
  .theme-button:hover{
    color:#fff;
    background:rgb(95,38,155);
    box-shadow: 0px 0px 1px rgba(0,0,0,.5);
  }
  .success-button:hover{
    color:#fff;
    background:#0F2C18;
    box-shadow: 0px 0px 1px rgba(0,0,0,.5);
  }
  .destroy-button:hover{
    color:#fff;
    background:#B95756;
    box-shadow: 0px 0px 1px rgba(0,0,0,.5);
  }
  .img-fixed{
    height:250px;
    width: 300px;
    object-fit: cover;
  }

  .big_cover_img{
    height:300px;
    width: 300px;
    object-fit: cover;
  }

.good_review_img{
  height:150px;
  width: 150px;
  object-fit: cover;
}