@media screen and (min-width: 768px) {
    .md-bg-gradient{
        background:linear-gradient(115deg, #c5a2eb 50%, #ffffff 50%)
    }
  }
  @media screen and (max-width: 768px) {
    .bg-gradient{
        height:auto;
    }
  }
  .big_cover2_img{
    height:350px;
    width: 400px;
    object-fit: cover;
  }