.hover-bg-sky-700:hover{
    background:#075985;
  }
  .rotate-135{
    transform: rotate(135deg);
  }
  .rotate-45{
    transform: rotate(45deg);
  }
  .hover-theme-dark-purple:hover{
    background: #5f269b;
  }