// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media screen and (min-width: 768px) {
    .md-bg-gradient-450{
        height:450px;
        background:linear-gradient(115deg, #f8eece 50%,transparent 50%),url(images/description_img.png) right / auto 120% ; 
    }
  }
  @media screen and (max-width: 768px) {
    .bg-gradient-450{
        height:450px;
        background-image:url(images/description_opacity50_img.png);
    }
  }

  .min-h-52{
    min-height: 208px;
  }
  .slide-box{
    width:98%;
    margin: auto;
    height: 280px;
    overflow: hidden;
    position: relative;
  }
  .slide-box .group{ 
    position: absolute;
    top: 0;
    left: 25px;
  }
  .group li{
    width: 250px;
    height: 250px;
    float: left;
    list-style: none;
  }
  .text-shadow{
    text-shadow: 0 0 10px #ff998b, 0 0 10px #ff998b
  }