<% flash.each do |key, value| %>
  <div class=" absolute inset-x-0 top-20 border sm:w-4/12 text-center mx-auto p-2 text-base text-gray-800 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-300 font-bold alert alert-<%= key %>">
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>